<%= form_tag(movies_path,  method: "get", class: "form") do %>
    <div class="row">
      <input type="text" name="search[name]" placeholder="Search the movies">
      <%= submit_tag("Search", class: "button tiny") %>
    </div>
  <% end %>