<p id="notice"><%= notice %></p>

<%= render 'search' %>

<h1>Listing Movies</h1>

    <% @movies.each do |movie| %>
    <div class="panel">
      <h4><%= movie.name %></h4>
       <%= movie.synopsis %>
       <hr>
       <h4>Crews</h4>
       <% movie.crews.each do |crew|%>
         <span class="label"><%= crew.name %></span>
       <% end %>
       <hr>
      <h4>Roles</h4>
       <% movie.roles.each do |role|%>
         <span class="label"><%= role.job %></span>
       <% end %>
    </div>
    <% end %>
<%= paginate @movies %>
<br>

<%= link_to 'New Movie', new_movie_path %>
